<div ng-controller="tikal.modules.Fabricacion.Pedimento.consultaAllCtrl">
	<table class="table table-striped" ng-controller='tikal.modules.Fabricacion.Pedimento.creacionCtrl'>
		<thead>
		  <tr>
			<th style="width:20px;">&nbsp;</th><!--boton +/- -->
			<th style="min-width: 20px;">&nbsp;</th><!-- Nombre producto -->
			<th class="text-center" style="min-width: 20px;">Pedido</th>
			<th class="text-center" style="min-width: 20px;">Asignado</th>
			<th style="width:20px;">&nbsp;</th><!-- Boton para asignar -->
			<th style="min-width: 20px;">&nbsp;</th><!--Unidad medida-->
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat-start="partida in partidas">
			<td>
				<a href ng-click="hideShowSubPartida(partida)" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!(partida.showSub || ultimaEdicionId == partida.producto.id)"></span>
					<span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="partida.showSub || ultimaEdicionId == partida.producto.id"></span>
				</a>
			</td>
			<td>{{ partida.producto.datosGenerales.nombre }} - {{ partida.producto.datosGenerales.descripcion }}</td>
			<td class="celdaNumerica">{{partida.cantidad | number}}</td><!--pedido-->
			<td class="celdaNumerica">
				<pedimento-total partida=partida pedimentos=pedimentos></pedimento-total>
			</td>
			<td ng-switch="asignacionStatus(partida, pedimentos)">
				<a ng-switch-when="incompleta" href ng-click="asignacionRapida(partida)" aria-label="Left Align">
					<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
				</a>
				<span ng-switch-when="completa" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
				<span ng-switch-when="excedente" class="glyphicon glyphicon-alert text-danger" aria-hidden="true" tooltip='Excedente en la Fabricación'></span>
			</td><!--boton asginar-->
			<td>{{ partida.producto.datosGenerales.unidadMedida }}</td>
		  </tr>
		  <tr ng-if="(partida.showSub || ultimaEdicionId == partida.producto.id)" ng-repeat="subPartida in partida.partidas" ng-repeat-end>
			<td>&nbsp;</td><!--boton +/- -->
			<td class="sub-renglon">
				<a href ng-click="verSubPedido(subPartida.pedido.id)" aria-label="Left Align">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span><span class="espacio-tab">{{ subPartida.pedido.puntoEntrega.nombreCorto }}</span>
				</a>
			</td>
			<td class="celdaNumerica">
				{{subPartida.cantidad | number}}
			</td>
			<td class="celdaNumerica">
				<pedimento-total partida=subPartida pedimentos=subPartida.pedido.pedimentos></pedimento-total>
			</td>
			<td ng-switch="asignacionStatus(subPartida, subPartida.pedido.pedimentos)">
				<a ng-switch-when="incompleta" href ng-click="asignacionRapida(subPartida)" aria-label="Left Align">
					<span class="glyphicon glyphicon-tag" aria-hidden="true"></span>
				</a>
				<span ng-switch-when="completa" class="glyphicon glyphicon-ok text-success" aria-hidden="true"></span>
				<a ng-switch-when="excedente" href ng-click="verSubPedido(subPartida.pedido.id)" aria-label="Left Align">
					<span class="glyphicon glyphicon-alert text-danger" aria-hidden="true" tooltip='Excedente en la Fabricación'></span>
				</a>
			</td>
			<td>{{ partida.producto.datosGenerales.unidadMedida }}</td>
		  </tr>
		</tbody>
	</table>
</div>
