<div class="modal-header">
	<h3 class="modal-title">Punto de Entrega</h3>
</div>
<div class="modal-body">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<form name="form" class="form-horizontal" ng-submit="ok(form)" novalidate>
	<div class="form-group">
		<label for="nombreCorto" class="col-sm-3 control-label">Nombre Corto:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.nombreCorto.$invalid}">
			<input class="form-control" type="text" name="nombreCorto" ng-model="modelo.nombreCorto" placeholder="El nombre corto del punto de entrega"
				required pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="10"
				uib-popover="{{form.nombreCorto.$invalid ? 'Campo obligatorio. Use solo caracteres y números' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="nombre" class="col-sm-3 control-label">Nombre:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.nombre.$invalid}">
			<input class="form-control" type="text" name="nombre" ng-model="modelo.nombre" placeholder="El nombre del punto de entrega"
				required pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.nombre.$invalid ? 'Campo obligatorio. Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="calle" class="col-sm-3 control-label">Calle:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.calle.$invalid}">
			<input class="form-control" type="text" name="calle" ng-model="modelo.direccion.calle" placeholder="Calle"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.calle.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="numeroExterior" class="col-sm-3 control-label">N&uacute;mero Exterior:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.numeroExterior.$invalid}">
			<input class="form-control" type="text" name="numeroExterior" ng-model="modelo.direccion.numeroExterior" placeholder="N&uacute;mero Exterior"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.numeroExterior.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="numeroInterior" class="col-sm-3 control-label">N&uacute;mero Interior:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.numeroInterior.$invalid}">
			<input class="form-control" type="text" name="numeroInterior" ng-model="modelo.direccion.numeroInterior" placeholder="N&uacute;mero Interior"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.numeroInterior.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="colonia" class="col-sm-3 control-label">Colonia:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.colonia.$invalid}">
			<input class="form-control" type="text" name="colonia" ng-model="modelo.direccion.colonia" placeholder="Colonia"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.colonia.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="codigoPostal" class="col-sm-3 control-label">Codigo Postal:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.codigoPostal.$invalid}">
			<input class="form-control" type="text" name="codigoPostal" ng-model="modelo.direccion.codigoPostal" placeholder="Codigo Postal"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.codigoPostal.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="ciudad" class="col-sm-3 control-label">Ciudad:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.ciudad.$invalid}">
			<input class="form-control" type="text" name="ciudad" ng-model="modelo.direccion.ciudad" placeholder="Ciudad"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.ciudad.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<label for="estado" class="col-sm-3 control-label">Estado:</label>
		<div class="col-sm-9" ng-class="{'has-error': form.estado.$invalid}">
			<input class="form-control" type="text" name="estado" ng-model="modelo.direccion.estado" placeholder="Estado"
				pattern-xregexp="'^[\\p{N}\\p{L}\\p{P}]+( [\\p{N}\\p{L}\\p{P}]+)*$'" maxlength="40"
				uib-popover="{{form.estado.$invalid ? 'Use solo caracteres, números y signos de puntuación' : ''}}" 
				popover-placement="top" popover-trigger="mouseenter"/>
		</div>
	</div>
	<div class="form-group">
		<div class="col-md-12 text-right">
			<button class="btn btn-default" type="button" ng-click="close()">Cancelar</button>
			<button type="submit" class="btn btn-primary" type="button" ng-disabled="form.$invalid || form.$pristine" ladda="actionLoading" data-style="expand-left">Guardar</button>
		</div>
	</div>
	</form>
</div>
