<contacto-navegacion></contacto-navegacion>
<form class="form-horizontal">
   <div class="form-group">
	<label for="puntoEntrega" class="col-sm-2 control-label">Punto de Entrega:</label>
	<div class="col-sm-10">
		<p class="form-control-static">
			<span>{{pedido.puntoEntrega.nombreCorto}} {{pedido.puntoEntrega.nombre}}</span>
			<a href ng-click="editarPuntoEntrega()" uib-tooltip="Editar"><span class="glyphicon glyphicon-pencil" aria-hidden="true"></span></a>
			</br>
			<google-maps-address ng-if="pedido.puntoEntrega.direccion" address="pedido.puntoEntrega.direccion"></google-maps-address>
		</p>
	</div>
  </div>
</form>
<ul class="nav nav-pills">
	<li role="navigation">
		<a href="#/fabricacion/{{pedidoRaizId}}/subPedido/{{currentPedidoId}}">
			<span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
			<span class="espacio-tab">Ver Fabricaci&oacute;n</span>
		</a>
	</li>
</ul>
</br>
<partida-list ng-controller="tikal.modules.Pedido.partida.PartidaCrudCtrl"></partida-list>
