<div ng-controller='tikal.modules.Fabricacion.fabricante.listCtrl'>
	</br>
	<uib-accordion ng-repeat="fabricante in fabricantes">
		<uib-accordion-group is-open="status.fabricanteOpen">
			<uib-accordion-heading>
				{{fabricante.name.name}}<i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.fabricanteOpen, 'glyphicon-chevron-right': !status.fabricanteOpen}"></i>
			</uib-accordion-heading>
			<pedimento-list pedimentos=fabricante.pedimentos></pedimento-list>
		</uib-accordion-group>
	</uib-accordion>
</div>
