<div ng-controller="tikal.modules.Fabricacion.Pedimento.edicionCtrl">
	<table class="table table-hover">
		<thead>
		  <tr>
			<th style="min-width: 20px;">&nbsp;</th>
			<th class="celdaNumerica" style="width: 170px;">Entregado / Asignado</th>
			<th style="width: 30px;">&nbsp;</th><!--edicion-->
			<th class="celdaNumerica" style="width: 170px;">Repuesto / Devuelto</th>
			<th class="celdaNumerica" style="width: 85px;">Pendiente</th>
			<th style="min-width: 20px;">&nbsp;</th>
			<th style="width: 30px;">&nbsp;</th><!--borrar-->
		  </tr>
		</thead>
		<tfoot>
			<tr>
				<td class="celdaNumerica"><strong>Total:</strong></td>
				<td class="celdaNumerica">
					<sumatoria-basica items=pedimentosOrdenados propiedad='totalEntrada'></sumatoria-basica> / <sumatoria-basica items=pedimentosOrdenados propiedad='cantidad'></sumatoria-basica>
				</td>
				<td>&nbsp;</td>
				<td class="celdaNumerica">
					<sumatoria-basica items=pedimentosOrdenados propiedad='totalReposicion'></sumatoria-basica> / <sumatoria-basica items=pedimentosOrdenados propiedad='totalDevolucion'></sumatoria-basica>
				</td>
				<td class="celdaNumerica">
					<detalle-pendiente items=pedimentosOrdenados propiedad='restante'></detalle-pendiente>
				</td>
				<td>&nbsp;</td>
				<td>&nbsp;</td>
			</tr>
		</tfoot>
		<tbody>
		  <tr ng-repeat-start="pedimento in pedimentosOrdenados">
			<!-- PedimentoIntermediario -->
			<td ng-if="pedimento.type == 'PedimentoIntermediario'"><!-- nombre-->
				<span class="espacio-icon">&nbsp;</span>
				<span class="espacio-tab">{{pedimento.producto.datosGenerales.nombre}} - {{pedimento.producto.datosGenerales.descripcion}}</span>
			</td>
			<td ng-if="pedimento.type == 'PedimentoIntermediario'" class="celdaNumerica"><!-- Entregado / Asignado-->
				{{pedimento.totalEntrada | number}} / {{pedimento.cantidad | number}}
			</td>
			<td ng-if="pedimento.type=='PedimentoIntermediario'"> <!-- edicion-->
				<a href ng-click="editarPedimento(pedimento)" aria-label="Left Align">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" uib-tooltip="Editar Asignaci&oacute;n"></span>
				</a>
			</td>
			<td ng-if="pedimento.type == 'PedimentoIntermediario'" class="celdaNumerica"><!-- Repuesto / Devuelto-->
				{{pedimento.totalReposicion | number}} / {{pedimento.totalDevolucion | number}}
			</td>
			<td ng-if="pedimento.type == 'PedimentoIntermediario'" class="celdaNumerica"><!-- pendiente entrada-->
				<detalle-pendiente pendiente=pedimento.restante></detalle-pendiente>
			</td>
			<td ng-if="pedimento.type == 'PedimentoIntermediario'"><!--unidad medida-->
				{{pedimento.producto.datosGenerales.unidadMedida}}
			</td>
			<td ng-if="pedimento.type == 'PedimentoIntermediario'">
				<a href ng-click="borrarPedimento(pedimento)" aria-label="Left Align">
					<span class="glyphicon glyphicon-trash" aria-hidden="true" uib-tooltip="Borrar Asignaci&oacute;n"></span>
				</a>
			</td>
			<!-- GrupoPedimento -->
			<td ng-if="pedimento.type == 'GrupoPedimento'"><!-- nombre-->
				<a href ng-click="hideShowSub(pedimento)" aria-label="Left Align">
					<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!pedimento.showSub"></span><!--
					--><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="pedimento.showSub"></span></a>
				<span class="espacio-tab">{{pedimento.linea.datosGenerales.nombre}} - {{pedimento.linea.datosGenerales.descripcion}}</span>
			</td>
			<td ng-if="pedimento.type == 'GrupoPedimento'" class="celdaNumerica"> <!-- Entregado / Asignado-->
				{{pedimento.totalEntrada | number}} / {{pedimento.cantidad | number}}
			</td>
			<td ng-if="pedimento.type=='GrupoPedimento'">&nbsp;</td><!-- edicion-->
			<td ng-if="pedimento.type == 'GrupoPedimento'" class="celdaNumerica"> <!-- Repuesto / Devuelto-->
				{{pedimento.totalReposicion | number}} / {{pedimento.totalDevolucion | number}}
			</td>
			<td ng-if="pedimento.type == 'GrupoPedimento'" class="celdaNumerica"><!-- pendiente entrada-->
				<detalle-pendiente pendiente=pedimento.restante></detalle-pendiente>
			</td>
			<td ng-if="pedimento.type == 'GrupoPedimento'"><!--unidad medida-->
				{{pedimento.linea.datosGenerales.unidadMedida}}
			</td>
			<td ng-if="pedimento.type == 'GrupoPedimento'">&nbsp;</td>
		  </tr>
		  <tr ng-if="pedimento.type=='GrupoPedimento' && pedimento.showSub" ng-repeat="subPedimento in pedimento.pedimentos" ng-repeat-end>
			<td class="sub-renglon"><span class="espacio-tab">{{subPedimento.producto.talla}}</span></td>
			<td class="celdaNumerica">
				{{subPedimento.totalEntrada | number}} / {{subPedimento.cantidad | number}}
			</td>
			<td>
				<a href ng-click="editarPedimento(subPedimento, pedimento)" aria-label="Left Align">
					<span class="glyphicon glyphicon-pencil" aria-hidden="true" uib-tooltip="Editar Asignaci&oacute;n"></span>
				</a>
			</td>
			<td class="celdaNumerica">
				{{subPedimento.totalReposicion | number}} / {{subPedimento.totalDevolucion | number}}
			</td>
			<td class="celdaNumerica"><!-- pendiente entrada-->
				<detalle-pendiente pendiente=subPedimento.restante></detalle-pendiente>
			</td>
			<td>{{pedimento.linea.datosGenerales.unidadMedida}}</td>
			<td>
				<a href ng-click="borrarPedimento(subPedimento)" aria-label="Left Align">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"  uib-tooltip="Borrar Asignaci&oacute;n"></span>
				</a>
			</td>
		  </tr>
		</tbody>
	</table>
</div>
