<div ng-controller="tikal.modules.Fabricacion.Pedimento.resumen">
	<uib-tabset>
		<uib-tab heading="Punto Entrega">
			<table class="table table-hover">
				<thead>
				  <tr>
					<th style="min-width: 20px;">&nbsp;</th>
					<th style="min-width: 20px;">&nbsp;</th>
					<th class="celdaNumerica" style="width: 170px;">Entregado / Asignado</th>
					<th class="celdaNumerica" style="width: 170px;">Repuesto / Devuelto</th>
					<th class="celdaNumerica" style="width: 85px;">Pendiente</th>
				  </tr>
				</thead>
				<tfoot>
					<tr>
						<td>&nbsp;</td>
						<td class="celdaNumerica"><strong>Total:</strong></td>
						<td class="celdaNumerica">
							<sumatoria-basica items=subPedidos.items propiedad='entrada'></sumatoria-basica> /
							<sumatoria-basica items=subPedidos.items propiedad='cantidad'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<sumatoria-basica items=subPedidos.items propiedad='reposicion'></sumatoria-basica> /
							<sumatoria-basica items=subPedidos.items propiedad='devolucion'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<detalle-pendiente items=subPedidos.items propiedad='pendiente'></detalle-pendiente>
						</td>
					</tr>
				</tfoot>
				<tbody>
				  <tr ng-repeat="subPedido in subPedidos.items">
					<td>
						<a href="#{{getCurrentPath()}}/subPedido/{{subPedido.id}}" aria-label="Left Align">
							<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
							<span class="espacio-tab">{{subPedido.puntoEntrega.nombreCorto}}</span>
						</a>
					</td>
					<td>{{subPedido.puntoEntrega.nombre}}</td>
					<td class="celdaNumerica">{{subPedido.entrada}} / {{subPedido.cantidad}}</td>
					<td class="celdaNumerica">{{subPedido.reposicion}} / {{subPedido.devolucion}}</td>
					<td class="celdaNumerica"><detalle-pendiente pendiente=subPedido.pendiente></detalle-pendiente></td>
				  </tr>
				</tbody>
			</table>
		</uib-tab>
		<uib-tab heading="Productos">
			<div class="row top-buffer" ng-if="workDone < workSize">
				<div class="col-sm-8 col-sm-offset-2"><uib-progressbar value="dynamic"><b>Cargando Informaci&oacute;n {{dynamic}}%</b></uib-progressbar></div>
			</div>
			<table class="table table-hover">
				<thead>
				  <tr>
					<th style="min-width: 20px;">&nbsp;</th>
					<th class="celdaNumerica" style="width: 170px;">Entregado / Asignado</th>
					<th class="celdaNumerica" style="width: 170px;">Repuesto / Devuelto</th>
					<th class="celdaNumerica" style="width: 85px;">Pendiente</th>
				  </tr>
				</thead>
				<tfoot>
					<tr>
						<td class="celdaNumerica"><strong>Total:</strong></td>
						<td class="celdaNumerica">
							<sumatoria-basica items=productos propiedad='entrada'></sumatoria-basica> / <sumatoria-basica items=productos propiedad='cantidad'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<sumatoria-basica items=productos propiedad='reposicion'></sumatoria-basica> / <sumatoria-basica items=productos propiedad='devolucion'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<detalle-pendiente items=productos propiedad='pendiente'></detalle-pendiente>
						</td>
					</tr>
				</tfoot>
				<tbody>
				  <tr ng-repeat-start="producto in productos">
					<td>
						<a href ng-click="hideShowDetail(producto, productos)" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!producto.showSub"></span><!--
							--><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="producto.showSub"></span></a>
						<span class="espacio-tab">{{producto.datosGenerales.nombre}} - {{producto.datosGenerales.descripcion}}</span>
					</td>
					<td class="celdaNumerica">{{producto.entrada | number}} / {{producto.cantidad | number}}</td>
					<td class="celdaNumerica">{{producto.reposicion | number}} / {{producto.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=producto.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-if="producto.showSub" ng-repeat-start="proveedor in producto.proveedores">
					<td class="sub-renglon">
						<a href ng-click="hideShowDetail(proveedor, producto.proveedores)" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!proveedor.showSub"></span><!--
							--><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="proveedor.showSub"></span></a>
						<span class="espacio-tab">{{proveedor.name.name}}</span>
					</td>
					<td class="celdaNumerica">{{proveedor.entrada | number}} / {{proveedor.cantidad | number}}</td>
					<td class="celdaNumerica">{{proveedor.reposicion | number}} / {{proveedor.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=proveedor.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-if="producto.showSub && proveedor.showSub" ng-repeat="pedimento in proveedor.pedimentos" ng-repeat-end>
					<td class="sub-sub-renglon">
						<a class="espacio-tab" href="#{{getCurrentPath()}}/subPedido/{{pedimento.pedido.id}}" aria-label="Left Align">
							{{pedimento.pedido.puntoEntrega.nombreCorto}} - {{pedimento.pedido.puntoEntrega.nombre}}
						</a>
					</td>
					<td class="celdaNumerica">{{pedimento.entrada | number}} / {{pedimento.cantidad | number}}</td>
					<td class="celdaNumerica">{{pedimento.reposicion | number}} / {{pedimento.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=pedimento.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-repeat-end ng-hide="true"></tr>
				</tbody>
			</table>
		</uib-tab>
		<uib-tab heading="Fabricantes">
			<div class="row top-buffer" ng-if="workDone < workSize">
				<div class="col-sm-8 col-sm-offset-2"><uib-progressbar value="dynamic"><b>Cargando Informaci&oacute;n {{dynamic}}%</b></uib-progressbar></div>
			</div>
			<table class="table table-hover">
				<thead>
				  <tr>
					<th style="min-width: 60px;">&nbsp;</th>
					<th class="celdaNumerica" style="width: 170px;">Entregado / Asignado</th>
					<th class="celdaNumerica" style="width: 170px;">Repuesto / Devuelto</th>
					<th class="celdaNumerica" style="width: 85px;">Pendiente</th>
				  </tr>
				</thead>
				<tfoot>
					<tr>
						<td class="celdaNumerica"><strong>Total:</strong></td>
						<td class="celdaNumerica">
							<sumatoria-basica items=proveedorAsignado propiedad='entrada'></sumatoria-basica> / <sumatoria-basica items=proveedorAsignado propiedad='cantidad'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<sumatoria-basica items=proveedorAsignado propiedad='reposicion'></sumatoria-basica> / <sumatoria-basica items=proveedorAsignado propiedad='devolucion'></sumatoria-basica>
						</td>
						<td class="celdaNumerica">
							<detalle-pendiente items=proveedorAsignado propiedad='pendiente'></detalle-pendiente>
						</td>
					</tr>
				</tfoot>
				<tbody>
				  <tr ng-repeat-start="proveedor in proveedorAsignado">
					<td>
						<a href ng-click="hideShowDetail(proveedor, proveedorAsignado)" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!proveedor.showSub"></span><!--
							--><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="proveedor.showSub"></span></a>
						<span class="espacio-tab">{{proveedor.name.name}}</span>
					</td>
					<td class="celdaNumerica">{{proveedor.entrada | number}} / {{proveedor.cantidad | number}}</td>
					<td class="celdaNumerica">{{proveedor.reposicion | number}} / {{proveedor.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=proveedor.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-if="proveedor.showSub" ng-repeat-start="producto in proveedor.productos">
					<td class="sub-renglon">
						<a href ng-click="hideShowDetail(producto, proveedor.productos)" aria-label="Left Align">
							<span class="glyphicon glyphicon-plus" aria-hidden="true" ng-if="!producto.showSub"></span><!--
							--><span class="glyphicon glyphicon-minus" aria-hidden="true" ng-if="producto.showSub"></span></a>
						<span class="espacio-tab">{{producto.datosGenerales.nombre}} - {{producto.datosGenerales.descripcion}}</span>
					</td>
					<td class="celdaNumerica">{{producto.entrada | number}} / {{producto.cantidad | number}}</td>
					<td class="celdaNumerica">{{producto.reposicion | number}} / {{producto.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=producto.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-if="producto.showSub && proveedor.showSub" ng-repeat="pedimento in producto.pedimentos" ng-repeat-end>
					<td class="sub-sub-renglon">
						<a class="espacio-tab" href="#{{getCurrentPath()}}/subPedido/{{pedimento.pedido.id}}" aria-label="Left Align">
							{{pedimento.pedido.puntoEntrega.nombreCorto}} - {{pedimento.pedido.puntoEntrega.nombre}}
						</a>
					</td>
					<td class="celdaNumerica">{{pedimento.entrada | number}} / {{pedimento.cantidad | number}}</td>
					<td class="celdaNumerica">{{pedimento.reposicion | number}} / {{pedimento.devolucion | number}}</td>
					<td class="celdaNumerica">
						<detalle-pendiente pendiente=pedimento.pendiente></detalle-pendiente>
					</td>
				  </tr>
				  <tr ng-repeat-end ng-hide="true"></tr>
				</tbody>
			</table>
		</uib-tab>
	</uib-tabset>
</div>