<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-success" ng-click="nuevoAsociado('nuevo')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Contacto</button>
</div>
<table class="table table-striped">
	<thead>
	  <tr>
		<th style="min-width: 20px;">&nbsp;</th>
		<th style="min-width: 80px;">&nbsp;</th>
		<!--<th style="width:20px;">&nbsp;</th>-->
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="asociado in asociados.items">
		<td>
			<a href ng-click="verAsociado(asociado.id)" aria-label="Left Align">
				<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
				<span class="espacio-tab">{{asociado.role}}</span>
			</a>
		</td>
		<td>{{asociado.name.name}}</td>
		<!--<td>
			<a href ng-click="borrarOtroContacto(asociado.id)" aria-label="Left Align">
				<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
			</a>
		</td>-->
	  </tr>
	</tbody>
</table>