<div ng-controller="tikal.modules.Contacto.detail.EditCtrl">
	<div class="btn-group" role="group" aria-label="...">
	  <button type="button" class="btn btn-success" ng-click="nuevoDetalle('MexicoAddress')"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Direcci&oacute;n</button>
	</div>
	<table class="table table-striped">
		<thead>
		  <tr>
			<th style="min-width: 20px;">&nbsp;</th>
			<th style="min-width: 80px;">&nbsp;</th>
			<th style="width:20px;">&nbsp;</th>
		  </tr>
		</thead>
		<tbody>
		  <tr ng-repeat="(key, address) in contacto.address">
			<td>
				<a href ng-click="editarDetalle('MexicoAddress', key)" aria-label="Left Align">
					<span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
					<span class="espacio-tab">{{address.tag}}</span>
				</a>
			</td>
			<td>
				<google-maps-address address="address"></google-maps-address>
			</td>
			<td>
				<a href ng-click="borrarDetalle('MexicoAddress', key)" aria-label="Left Align">
					<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
				</a>
			</td>
		  </tr>
		</tbody>
	</table>
</div>