<div class="modal-body">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<uib-alert type="{{modelo.type}}"><span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{modelo.message}}</uib-alert>
	<form name="form" class="form-horizontal" ng-submit="ok(form)" novalidate>
		<div class="form-group">
			<div class="col-md-12 text-right">
				<button class="btn btn-default" type="button" ng-click="close()">Cancelar</button>
				<!--<button type="submit" class="btn btn-primary" type="button" ng-disabled="form.$invalid || form.$pristine" ladda="actionLoading" data-style="expand-left">Guardar</button>-->
				<button type="submit" class="btn btn-primary" type="button" ladda="actionLoading" data-style="expand-left">Confirmar</button>
			</div>
		</div>
	</form>
</div>
