<div class="modal-header">
	<h3 class="modal-title">Pagina de Contacto</h3>
</div>
<div class="modal-body">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<form name="form" class="form-horizontal" ng-submit="ok(form)" novalidate>
		<div class="form-group">
			<label for="network" class="col-sm-3 control-label">Etiqueta:</label>
			<div class="col-sm-9" ng-class="{'has-error': form.network.$invalid}">
				<input class="form-control" type="text" name="network" ng-model="modelo.network" placeholder="Etiqueta"
					required pattern-xregexp="'^[\\p{N}\\p{L}][\\p{N}\\p{L}\\+]*( [\\p{N}\\p{L}\\+]+)*$'" maxlength="40"
					uib-popover="{{form.network.$invalid ? 'Campo obligatorio, Use solo caracteres y números' : ''}}" 
					popover-placement="top" popover-trigger="mouseenter"/>
			</div>
		</div>
		<div class="form-group">
			<label for="networkUrl" class="col-sm-3 control-label">Dirección Electronica:</label>
			<div class="col-sm-9" ng-class="{'has-error': form.networkUrl.$invalid}">
				<input class="form-control" type="url" name="networkUrl" ng-model="modelo.networkUrl" placeholder="Dirección Electronica"
					required ng-maxlength="40"
					uib-popover="{{form.networkUrl.$invalid ? 'Debe ser una Url valida' : ''}}" 
					popover-placement="top" popover-trigger="mouseenter"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12 text-right">
				<button class="btn btn-default" type="button" ng-click="close()">Cancelar</button>
				<button type="submit" class="btn btn-primary" type="button" ng-disabled="form.$invalid || form.$pristine" ladda="actionLoading" data-style="expand-left">Guardar</button>
			</div>
		</div>
	</form>
</div>