<div class="modal-header">
	<h3 class="modal-title">Telefono de Contacto</h3>
</div>
<div class="modal-body">
	<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
	<form name="form" class="form-horizontal" ng-submit="ok(form)" novalidate>
		<div class="form-group">
			<label for="etiqueta" class="col-sm-3 control-label">Etiqueta:</label>
			<div class="col-sm-9" ng-class="{'has-error': form.etiqueta.$invalid}">
				<input class="form-control" type="text" name="etiqueta" ng-model="modelo.etiqueta" placeholder="Etiqueta"
					required pattern-xregexp="'^[\\p{N}\\p{L}]+( [\\p{N}\\p{L}]+)*$'" maxlength="40"
					uib-popover="{{form.etiqueta.$invalid ? 'Campo obligatorio, Use solo caracteres, números' : ''}}" 
					popover-placement="top" popover-trigger="mouseenter"/>
			</div>
		</div>
		<div class="form-group">
			<label for="telefono" class="col-sm-3 control-label">Telefono:</label>
			<div class="col-sm-9" ng-class="{'has-error': form.telefono.$invalid}">
				<input class="form-control" type="text" name="telefono" ng-model="modelo.telefono" placeholder="Telefono"
					required pattern-xregexp="'^[\\p{N}\\p{L}\\(\\)\\.\\+]+([ \\-\\*][\\p{N}\\p{L}\\(\\)\\.]+)*$'" maxlength="40"
					uib-popover="{{form.telefono.$invalid ? 'Debe ser un Telefono valido' : ''}}" 
					popover-placement="top" popover-trigger="mouseenter"/>
			</div>
		</div>
		<div class="form-group">
			<div class="col-md-12 text-right">
				<button class="btn btn-default" type="button" ng-click="close()">Cancelar</button>
				<button type="submit" class="btn btn-primary" type="button" ng-disabled="form.$invalid || form.$pristine" ladda="actionLoading" data-style="expand-left">Guardar</button>
			</div>
		</div>
	</form>
</div>