<?xml version="1.0" encoding="utf-8"?>
<web-app
        version="2.5"
        xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    
    <!-- Optimizaciones para appengine -->
    <context-param>
		<param-name>contextClass</param-name>
		<param-value>technology.tikal.gae.optimization.CustomXmlWebApplicationContext</param-value>
	</context-param>
	
	<!-- Servlet para la api con spring MVC -->
    <servlet>  
   		<servlet-name>api</servlet-name>  
   		<servlet-class>
   			org.springframework.web.servlet.DispatcherServlet  
   		</servlet-class>  
		<load-on-startup>1</load-on-startup>  
	</servlet>  
    
	<servlet-mapping>  
   		<servlet-name>api</servlet-name>  
   		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para los procesos batch con spring MVC -->
    <servlet>  
   		<servlet-name>batch</servlet-name>  
   		<servlet-class>
   			org.springframework.web.servlet.DispatcherServlet  
   		</servlet-class>
	</servlet>  
    
	<servlet-mapping>  
   		<servlet-name>batch</servlet-name>  
   		<url-pattern>/batch/*</url-pattern>
	</servlet-mapping>
	
	<!-- Servlet para los servicios de System -->
    <servlet>  
   		<servlet-name>system</servlet-name>  
   		<servlet-class>
   			org.springframework.web.servlet.DispatcherServlet  
   		</servlet-class>
	</servlet>  
    
	<servlet-mapping>  
   		<servlet-name>system</servlet-name>  
   		<url-pattern>/system/*</url-pattern>
	</servlet-mapping>
	
	<!-- Listener para cargar el contexto de Spring -->
	<listener>
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
	
	<!-- Configuracion de appengine para garantizar que todas las peticiones pasen por https -->
	<security-constraint>
		<web-resource-collection>
	  		<web-resource-name>All API</web-resource-name>
    		<url-pattern>/api/*</url-pattern>
	  	</web-resource-collection>
	  	<user-data-constraint>
		    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	  	</user-data-constraint>
	</security-constraint>
	
	<!-- Configuracion de appengine para garantizar que todas las peticiones pasen por https -->
	<security-constraint>
		<web-resource-collection>
	  		<web-resource-name>All System</web-resource-name>
    		<url-pattern>/system/*</url-pattern>
	  	</web-resource-collection>
	  	<user-data-constraint>
		    <transport-guarantee>CONFIDENTIAL</transport-guarantee>
	  	</user-data-constraint>
	</security-constraint>
	
	<!-- Configuracion de appengine para garantizar que solo la aplicacion o el administrador tiene acceso al batch -->
	<security-constraint>
		<web-resource-collection>
			<web-resource-name>Batch resources</web-resource-name>
			<url-pattern>/batch/*</url-pattern>
		</web-resource-collection>
		<auth-constraint>
			<role-name>admin</role-name>
		</auth-constraint>
	</security-constraint>
	
	<!-- Filtro para objetify -->
	<filter>
        <filter-name>ObjectifyFilter</filter-name>
        <filter-class>com.googlecode.objectify.ObjectifyFilter</filter-class>
	</filter>
	<filter-mapping>
        <filter-name>ObjectifyFilter</filter-name>
        <url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Filtro para activar CORS -->
	<filter>
		<filter-name>CORSFilter</filter-name>
		<filter-class>technology.tikal.gae.cors.SimpleCORSFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>CORSFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- Filtro para el framework de seguridad de spring -->
	<filter>
		<filter-name>springSecurityFilterChain</filter-name>
		<filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>springSecurityFilterChain</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>
